{% extends "layout.html" %}
{% block body %}
  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <dl>
      <dt>Login:
      <dd><input type=text name=username>
      <dt>Hasło:
      <dd><input id=password oninput=entropy() type=password name=password >
      <span id=entr style=color:#009688>siła hasła: brak</span>
      <dd><input type=password name=password2>
      <dt>Email:
      <dd><input type=text name=email>
      <dd><input type=submit value=Wyślij>
    </dl>
  </form>
{% endblock %}